 @import url(https://fonts.googleapis.com/css?family=Rubik:400,300,400italic,500italic,500,700,700italic,300italic,900,900italic&subset=latin,latin-ext);

    body {
      font-family: 'Rubik', sans-serif;
      color: #333333;
      background-image: url("images/download.jpeg");
      background-repeat:no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    #loginBox{
      padding-top: 10vh;
      height: 60vh;
      background-color: rgba(255,255,255,0.8);
      border-radius: 0em;
      margin-top: 10vh;
    }
    .LoginText{
      color: #26A4FF;
      font-weight: bold;
    }
    hr{
      color: #26A4FF;
      background-color: #26A4FF;
      height: 1px;
      border-radius: 2em;
      padding-top: 0px;
      margin: 0%;
    }
    .hrBar{
      height: 1vh;
    }
    .tarjetaTitle{
        color: #26A4FF;
      font-weight: bold;
      font-size: 1em;
    }
    .imgTarjeta{
      border-width: 0.5vh;
      border-color:  #26A4FF;
      border-style: solid;
    }