<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Isst_grupo13_matacuas</servlet-name>
		<servlet-class>isst.grupo13.matacuas.Isst_grupo13_matacuasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Isst_grupo13_matacuas</servlet-name>
		<url-pattern>/matacuas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImagenServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.ImagenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImagenServlet</servlet-name>
		<url-pattern>/imagen</url-pattern>
	</servlet-mapping>
	<servlet>
	   
		<servlet-name>PruebaBDServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.pruebaBD.PruebaBDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <load-on-startup>1</load-on-startup>
		<servlet-name>PruebaBDServlet</servlet-name>
		<url-pattern>/prueba</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NuevaQuejaServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.NuevaQuejaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NuevaQuejaServlet</servlet-name>
		<url-pattern>/newQueja</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerQuejaServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.VerQuejaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerQuejaServlet</servlet-name>
		<url-pattern>/verQueja</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PerfilServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.PerfilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PerfilServlet</servlet-name>
		<url-pattern>/perfil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjustesServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.AjustesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjustesServlet</servlet-name>
		<url-pattern>/ajustes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NotificacionesServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.NotificacionesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificacionesServlet</servlet-name>
		<url-pattern>/notificaciones</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReclamarServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.ReclamarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReclamarServlet</servlet-name>
		<url-pattern>/reclamar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModerarServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.ModerarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModerarServlet</servlet-name>
		<url-pattern>/moderar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BorrarQuejaServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.BorrarQuejaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrarQuejaServlet</servlet-name>
		<url-pattern>/borrarQueja</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MapaServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.MapaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapaServlet</servlet-name>
		<url-pattern>/mapa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConsultarAseguradoraServlet</servlet-name>
		<servlet-class>isst.grupo13.matacuas.ConsultarAseguradoraServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultarAseguradoraServlet</servlet-name>
		<url-pattern>/ConsultaAseguradora</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
